.arrow {
     border: solid black;
     border-width: 0 3px 3px 0;
     display: inline-block;
     padding: 3px;
   }
   .up {
     transform: rotate(-135deg);
     -webkit-transform: rotate(-135deg);
   }
   
   .down {
     transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
   }
   /* Add a black background color to the top navigation */
   
   .topnav {
     background-color: #333;
     overflow: hidden;
   }
   
   /* Style the links inside the navigation bar */
   .topnav a {
     float: left;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
   }
   
   /* Change the color of links on hover */
   .topnav a:hover {
     background-color: #ddd;
     color: black;
   }
   
   /* Add a color to the active/current link */
   .topnav a.active {
     background-color: #04aa6d;
     color: white;
   }
   h1 {
     font-family: "Alfa Slab One", cursive;
     left: 50%;
     text-align: center;
     font-size: 50px;
   }
   table {
     left: 25%;
     font-family: "Barlow Semi Condensed", sans-serif;
     box-shadow: 0px 0px 20px 5px black;
     margin-left: auto;
     margin-right: auto;
   }
   
   table,
   td {
     border: 1px solid #333;
     
     background: lightgray;
   
   }
   .film_tr:hover {
     background-color: grey;
   }
   
   thead,
   tfoot {
     background-color: #333;
     color: #fff;
   }
   
   a {
     font-size: 20px;
     text-decoration: none;
   }
   
   
   
   footer {
     font-family: "Barlow Semi Condensed", sans-serif;
     text-align: center;
     margin-top: 30px;
   }
   
   .footer_link {
     text-decoration: none;
     color: black;
   }
   h2,
   form {
     background-color: #fafafa;
     padding: 10px;
     width: 280px;
    
     margin: 0 auto;
   }
   fieldset {
     padding: 0 20px 20px 20px;
     margin-bottom: 10px;
     border: 1px solid #df3f3f;
   }
   legend {
     color: #df3f3f;
     font-weight: bold;
   }
   label {
     margin-top: 10px;
     display: block;
   }
   label.inline {
     display: inline;
     margin-right: 50px;
   }
   input,
   textarea,
   select,
   option {
     background-color: #fff3f3;
   }
   input,
   textarea,
   select {
     padding: 3px;
     border: 1px solid #f5c5c5;
     border-radius: 5px;
     width: 200px;
     box-shadow: 1px 1px 2px #c0c0c0 inset;
     vertical-align: middle;
   }
   .button {
     background-color: #fafafa;
     border: 1px solid #f5c5c5;
     border-radius: 5px;
     padding: 3px;
     box-shadow: 1px 1px 2px #c0c0c0 inset;
     vertical-align: middle;
   }
   .button:hover {
     background-color: #f5c5c5;
   }
   .button:active {
     background-color: #f5c5c5;
   }
   .button:focus {
     outline: none;
   }
   .button:disabled {
     background-color: #f5c5c5;
   }
   .button:disabled:hover {
     background-color: #f5c5c5;
   }
   .button:disabled:active {
     background-color: #f5c5c5;
   }
   
   select {
     margin-top: 10px;
   }
   input[type="radio"] {
     background-color: transparent;
     border: none;
     width: 10px;
   }
   input[type="submit"],
   input[type="reset"] {
     width: 100px;
     margin-left: 5px;
     box-shadow: 1px 1px 1px #d83f3d;
     cursor: pointer;
   }
   input[type="submit"]:hover,
   input[type="reset"]:hover {
     box-shadow: 1px 1px 1px #d83f3d inset;
   }
   input[type="reset"] {
     background-color: #f5c5c5;
   }
   /* transformer le lien supprimer en bouton*/
   .supprimer {
     background-color: #fafafa;
     padding: 10px;
     width: 280px;
     margin: 0 auto;
   }
   